
<!-- Advantages -->

.advantages,
.advantages_wrap,
.advantages_title,
.advantages_text,
.advantages_img,
.advantages_item_first,
.advantages_list {

padding: 0;
margin: 0;
}


.advantages {
 
height: 845px;
width: auto;
background: url(../img/bg-advantages.jpg) no-repeat center top/cover;
color: #ffffff;
}

.advantages .container {

display: flex;
flex-wrap: wrap;
justify-content: space-around;

padding-bottom: 100px;
padding-top: 100px;
}  

 .advantages_wrap {
   padding-top: 110px;
 height: 400px;
 width: 500px;
 }

.advantages_img {
  display: flex;
justify-content: flex-end;
	
}



.advantages_title {

font-family: 'Gotham', sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.advantages_text {

font-family: 'Gotham Book', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
   width: 500px;  
   padding-bottom: 60px;
}

.advantages_list {

	display: flex;
  flex-direction: column;
  justify-content: space-between;
	font-family: 'Gotham', sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 24px;
 text-transform: uppercase;
;
  
}

.advantages_item_first {

display: block;
box-sizing: content-box;
border: 5px solid transparent;
width: 370px;
height: 30px;
background-color: #11749e;
margin-bottom: 20px;
padding-top: 10px;
}

.advantages_item_second {

display: block;
box-sizing: content-box;
border: 5px solid transparent;
width: 400px;
height: 30px;
background-color: #11749e;
margin-bottom: 20px;
padding-top: 10px;
}

.advantages_item_third {

display: block;
box-sizing: content-box;
border: 5px solid transparent;
width: 430px;
height: 30px;
background-color: #11749e;
padding-top: 10px;

}
<!-- /Advantages -->