
/*  BUTTON  */

.btn {
  
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  
}


.btn_arrow {

width: 60px;
height: 60px;
border-radius: 50%;
border: 1px solid #ffffff;
opacity: 100%;  
cursor: pointer;
top:0;
right: 0;
left: 0;
margin-bottom: 100px;
position: relative;
transition: 0.3s;
}




.icon-keyboard_arrow_down {

display: flex;
  color: #ffffff;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  padding-top: 15px;
}

.icon-keyboard_arrow_down:hover {
transition: 0.5s;
color: #11749e;
}

.pulse:hover::before,
.pulse:hover::after {
 content: '';
 position: absolute;
 border: 1px solid #29AEE3;
 left: -20px;
 right: -20px;
 top: -20px;
 bottom: -20px;
 border-radius: 50%;
 animation: pulse 1.8s linear infinite;
 opacity: 0;
}
.pulse:hover::after {
 animation-delay: .5s;
}

@keyframes pulse {
 0% {
  transform: scale(0.5);
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  transform: scale(1.2);
  opacity: 0;
 }
}

.button_act {
  
  display: block;
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  width: 225px;
  height: 65px;
  box-sizing: border-box;
  background-color: #11749e;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Gotham Medium', sans-serif;
   bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 100px;
  border: none;

}



.button_act:hover,
.button_act:active {
  background-color: #fff;
  color: #11749e;
  transition: 0.5s;
}

.toup {

  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
 text-align: center;
 text-decoration: none;
 background-color: rgba(35, 187, 252, 0.75);
 color: #fff;
border: 2px solid #fff;
 border-radius: 50%;
 display: none;
 z-index: 10;
}

.toup span {

padding: 0;
padding-bottom: 10px;
    -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.toup-visible {
  display: block;
}



/*  /BUTTON  */


