
/*  BUTTON  */

.btn {
  
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  
}



.icon-keyboard_arrow_down {

display: flex;
  color: #ffffff;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  padding-top: 15px;
}

.icon-keyboard_arrow_down:hover {
transition: 0.5s;
color: #11749e;
}

.button_act {
  
  display: block;
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  width: 225px;
  height: 65px;
  box-sizing: border-box;
  background-color: #11749e;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Gotham Medium', sans-serif;
   bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 100px;
  border: none;

}



.button_act:hover,
.button_act:focus {
  background-color: #fff;
  color: #11749e;
  transition: 0.5s;
}






/*  /BUTTON  */


