<!-- Contact area -->

.contact,
.c,
.contact_title,
.form,
.cell,
.button_act {

padding: 0;
margin: 0;

}

.contact {
position: relative;
  height: 845px;
  width: auto;   
  background: url(../img/bg-contact.jpg) no-repeat center top/cover;
  color: #fff;
  text-align: center;
}

.c {
position: absolute;
font-family: 'Roboto Condensed', sans-serif;
line-height: 210px;
font-weight: bold;
font-size: 247px;
color: #343434;
color: rgba(52,52,52,0.7);
text-align: center;
text-transform: uppercase;
margin-left: -70px;
padding-top: 150px;
}

.contact_title {
position: relative;
font-family: 'Gotham', sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 45px;
  text-transform: uppercase;
  padding-top: 200px;
  
}

.form {
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin: 0 auto;
	padding-top: 120px;
	height: 240px;
	width: 1175px;
}


.cell {
box-sizing: border-box;
background-color: transparent;
height: 45px;
width: 365px; 

}

.cell:nth-child(2) {
	margin-left: 25px;
	margin-right: 25px;
}

.cell:nth-child(4) {

height: 150px;
width: 1145px;
padding-top: 35px;

}

.button_act {
	display: block;
	position: absolute;
	cursor: pointer;
	font-size: 24px;
	width: 225px;
	height: 65px;
	box-sizing: border-box;
	background-color: #11749e;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Gotham Regular', sans-serif;
	 bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 100px;
	border: none;


}
<!-- /Contact area -->