<!-- Contact area -->

.contact,
.c,
.contact_title,
#feedback-form,
.cell,
.button_act {

padding: 0;
margin: 0;

}

.contact {

position: relative;
  height: 845px;
  width: auto;   
  background: url(../img/bg-contact.jpg) no-repeat center top/cover;
  color: #fff;
  text-align: center;
}

.c {

position: absolute;
font-family: 'Roboto Condensed', sans-serif;
line-height: 210px;
font-weight: bold;
font-size: 247px;
color: #343434;
color: rgba(52,52,52,0.7);
text-align: center;
text-transform: uppercase;
margin-left: -70px;
padding-top: 150px;
}

.contact_title {

position: relative;
font-family: 'Gotham Medium', sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 45px;
  text-transform: uppercase;
  padding-top: 200px;
  
}

.form-container {

display: flex;
    max-width: 1175px;
    margin: 120px auto 0;
}

.overlay {

  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);

  z-index: 10;

}

.overlay.overlay--visible {

  display: block;

}

.overlay_success  {

  display: block;
  box-sizing: border-box;
  min-width: 50%;
  min-height: 50%;
  margin: 0;
  padding: 20px;

  border: none;
  border-radius: 7px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.75);

  color: black;
  background-color: #fff;

  text-align: center;

}

.overlay .overlay_success {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



.overlay_success button.overlay_close {

  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 14px;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: bold;

  color: #1a8aeb;
  background-color: transparent;

  border: none;
  outline: none;
  cursor: pointer;

}

.overlay_success button.overlay_close:hover {

  color: #133bb2;

}


.overlay_success h4 {

display: block;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  box-sizing: border-box; 
  text-transform: uppercase;
  font-family: 'Gotham Medium', sans-serif;
  color: #1a8aeb;


}


#feedback-form {

 display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 auto;
  min-width: 50%;
  min-height: 50%;
  padding: 20px;

  text-align: left;
  border: none;
margin: 0;



}


#feedback-form input {
display: block;
box-sizing: border-box;
height: 45px;
width: 365px; 

background-color: transparent;
color: #ffffff;
border: 2px solid #fff;
padding-left: 20px;
font-size: 16px;
line-height: 32px;

box-shadow: 0px 2px 0px #fff;
transition: 0.3s;

}

#feedback-form input[type="email"] {

	margin-left: 25px;
	margin-right: 25px;
}

#feedback-form textarea {

display:block;
box-sizing: border-box;
height: 150px;
width: 1145px;
margin-top: 35px;
border: 2px solid #fff;
padding-left: 20px;
font-size: 16px;
line-height: 32px;
 outline: none;
 color: #fff;
background-color: transparent;
max-width: 100%;
resize: none;
overflow: hidden;
box-shadow: 0px 2px 0px #fff;
transition: 0.3s;
}

#feedback-form textarea:focus,
#feedback-form input:focus {

border: 2px solid #11749e;
box-shadow: inset 3px 3px 3px rgba(5,139,196,0.2);
}


<!-- /Contact area -->