
/*  HEADER  */


.page_header,
.page_header-sticky,
.brand,
.brand_link,
.brand_logo,
.navigation_wrapper,
.navigation, 
.social_block {
  
  margin: 0;
  padding: 0;
  
}

.page_header {

    display: block;
    width: 100%;
    height: 110px;
    padding-top: 5px;
    margin-bottom: -115px;
    border-bottom-width : 1px;
    border-bottom-style : solid;  
    border-bottom-color : #7b7b7b;
    background-color: transparent;
  
    position: relative;
    z-index: 1;
}

.page_header-sticky {
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  padding: 0 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  transition: background-color 1s;
  
}



/*  /HEADER  */

/*  BRAND  */


.brand {
  
  float: left;
 margin-top: 15px;
margin-left: 10px;
  
}

.brand_link {
  
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 0;
  
}

.brand_logo {
  
  display: inline-block;
  width: 80px;
  border: none;
  outline: none;
  
}


/*  /BRAND  */

/*  NAVIGATION  */


.navigation_wrapper {

float: left;
display: block;
margin-top: 50px;
padding-left: 230px;
  
}


.navigation-main .navigation_item {

  font-family: 'Myriad Pro', sans-serif;
  display: inline;
  
  font-weight: normal;
  font-size: 20px;
  text-transform: capitalize;
 line-height: 30px;
  width: 690px;
  
}

.navigation_item {

  padding: 30px 20px;
  border: 3px solid hidden;
  
}

.navigation-main .navigation_item:last-child {
  
  margin-right: 0;
  
}

.navigation-main .navigation_link {
  
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  text-decoration: none;

  
}

.navigation_item:hover {
  
  border-bottom: 3px solid #11749e;
  transition: 0.3s;
}


/*  /NAVIGATION  */

/*  SOCIAL-BLOCK */


.social_block {

  display: block;
  float: right;
  width: 145px;
  margin-top: 50px;
  
  
}

.social_icons {

  text-decoration: none;
  padding: 0 5px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.social_icons:hover {
  
  color: #11749e;
  transition: 0.3s;
}

/*  /SOCIAL-BLOCK  */


/*  PAGE-CONTENT/ TITLE  */

.page_content,
.header_title,
.title_name,
.title_text,
.btn_text,
.btn_arrow,
.btn-scroll {
  
  margin: 0;
  padding: 0;
  
}

.header_title {

background: url(../img/bg-header.jpg) no-repeat center top/cover;
height: 890px; 
width: 100%;

}

.header_title .container {
  
position: absolute;
text-align: center;

}

.title_name {

font-family: 'Gotham Bold', sans-serif;
color: #FFF;
font-size: 147px;
font-weight: bold;
line-height: 135px;
text-transform: uppercase;
padding-top: 390px;


}

.title_text {

font-family: 'Gotham Medium', sans-serif;
color: #11749e;
font-size: 25px;
line-height: 50px;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 18px;
margin-left: 30px;

}

.btn_text {

font-family: 'Open Sans', sans-serif;
color: #ffffff;
font-size: 13px;
line-height: 22px;
text-transform: capitalize;
padding-top: 100px;
padding-bottom: 10px;
text-align: center;

}

.btn_text:hover {

transition: 0.3s;
color: #11749e;

}


.btn_arrow {

width: 60px;
height: 60px;
border-radius: 50%;
border: 1px solid #ffffff;
opacity: 100%;  
cursor: pointer;
top:0;
right: 0;
left: 0;
margin-bottom: 100px;

}

.btn_arrow:hover {

border: 1px solid #11749e;
transition: 0.3s;
}

/*  /PAGE-CONTENT/ TITLE  */