
/*  FONTS  */

@font-face {
font-family: 'Gotham'; 
src: url('../fonts/Gotham/GothamBold.ttf');
src: url('../fonts/Gotham/GothamBook.ttf');
src: url('../fonts/Gotham/GothamMedium.ttf');
}

/*  /FONTS  */

/*  HEADER  */


.page_header,
.container_box,
.brand,
.brand_link,
.brand_logo,
.navigation_wrapper,
.navigation, 
.social_block {
  
  margin: 0;
  padding: 0;
  
}

.page_header {
  
background: url(../img/bg-header.jpg) no-repeat center top/cover;
height: 880px; 
}

.container_box {
  height: 115px;
  border-bottom: #848484 1px solid;
}

/*  /HEADER  */

/*  BRAND  */


.brand {
  
  float: left;
 margin-top: 15px;
margin-left: 15px;
  
}

.brand_link {
  
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 0;
  
}

.brand_logo {
  
  display: inline-block;
  width: 80px;
  border: none;
  outline: none;
  
}


/*  /BRAND  */

/*  NAVIGATION  */


.navigation_wrapper {

float: left;
display: block;
margin-top: 50px;
padding-left: 230px;
  
}


.navigation-main .navigation_item {

  font-family: 'Myriad Pro', sans-serif;
  display: inline;
  
  font-weight: normal;
  font-size: 20px;
  text-transform: capitalize;
 line-height: 30px;
  width: 690px;
  
}

.navigation_item {

  padding: 35px 20px;
  border: 3px solid hidden;
  
}

.navigation-main .navigation_item:last-child {
  
  margin-right: 0;
  
}

.navigation-main .navigation_link {
  
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  text-decoration: none;

  
}

.navigation_item:hover {
  
  border-bottom: 3px solid #11749e;
  
}


/*  /NAVIGATION  */

/*  SOCIAL-BLOCK */


.social_block {
  
  float: right;
  width: 145px;
  margin-top: 50px;
  
  
}

.social_icons {

  text-decoration: none;
  padding: 0 5px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.social_icons:hover {
  
  color: #11749e;
  
}

/*  /SOCIAL-BLOCK  */


/*  PAGE-CONTENT/ TITLE  */

.page_content,
.title,
.title_name,
.title_text,
.btn_text,
.btn_arrow,
.btn-scroll {
  
  margin: 0;
  padding: 0;
  
}

.title {

text-align: center
}

.title_name {
  
font-family: 'Gotham Bold', sans-serif;
color: #FFF;
font-size: 147px;
font-weight: bold;
line-height: 135px;
text-transform: uppercase;
padding-top: 265px;
text-align: center;


}

.title_text {

font-family: 'Gotham Medium', sans-serif;
color: #11749e;
font-size: 25px;
line-height: 50px;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 17px;
text-align: center;

}

.btn_text {

font-family: 'Open Sans', sans-serif;
color: #ffffff;
font-size: 13px;
line-height: 22px;
text-transform: capitalize;
padding-top: 100px;
padding-bottom: 10px;
text-align: center;

}

.btn_text:hover {

  color: #11749e;
}

/*  /PAGE-CONTENT/ TITLE  */