/*  NEWS AREA  */

.news_area,
.news_wrap-second,
.news_wrap-first,
.first_news,
.second_news,
.news_link,
.news_time,
.news_title,
.news_description,
.news_text,
.first_img,
.second_img {

padding: 0;
margin: 0;
}



.first_news {

background-color: #222222;
  height: 450px;
 position: relative;

}

.first_img {

display: block;
position: absolute;
  float: right;
  width: 50%;
  height: 450px;
  overflow: hidden;
  right: 0;
  top: 0;
  bottom: 0;

}

.news_wrap-first {

  float: left;
  display: block;
  color: #fff;
  padding-top: 80px;
   
}



.news_link {

display: block;
width: 424px;
color: inherit;
text-decoration: none;

}

.news_link:hover {
transition: 0.3s;
color: #11749e;
}



.second_news {

background-color: #f3f3f3;
height: 475px;
position: relative;
color: #000000;

}

.second_img {

display: block;
  float: left;
  width: 50%;
  height: 475px;
  overflow: hidden;

}


.news_wrap-second {

  float: right;
  display: block;
  padding-top: 100px;
 margin-right: 65px;
}




.news_title {

font-family: 'GothamMedium', sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 40px;
}

.news_time,
.news_description,
.news_text {

font-family: 'GothamBook', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}


.news_text {

  margin-top: 25px;
}
/*  /NEWS AREA  */